*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family:cursive;
    text-align: center;
    background-size: cover;
    padding: 20px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 100%;
    max-width: 400px;
    margin-left:700px;
}

h1{
    color: #2c3e50;
    margin-bottom: 20px;
}

.auth-container{
    background: white;
    padding: 30px 25px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.auth-container h2{
    color: #34496e;
    margin-bottom: 20xp;
    text-align: center;
}

input{
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px splid #ccd6dd;
    border-radius: 6px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

input:focus{
    border-color: #007BFF;
    outline: none;
}

button{
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 6px;
    font-size: 16px;
    width: 100%;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

button:hover{
    background-color: #0056b3;
}

body{
    background-image:url('image.png');
    background-size:cover;
}